.span {
  font-size: 30px;
}

.span1 {
  color: #4a4a4a;
  font-size: 3em;
  font-weight: 400;
  line-height: 0.5;
}

footer {
  background-color: #fafafa;
  padding: 3rem 5.5rem 3rem;
}

.box {
  margin-left: 20px;
  width: 40%;
  height: 800px;
  box-shadow: 10px 10px 15px rgba(77, 77, 77, 0.493);
  border: 10px solid rgba(77, 77, 77, 0);
  border-radius: 5px;
  background-color: rgba(129, 122, 96, 0.219);
  padding: 1% 1%;
  margin: 1% 2%;
  font-size: 12px;
  margin-left: 1%;
  overflow-y: scroll;
}

.boxi {
  width: 50%;
  height: 800px;
  box-shadow: 10px 10px 15px rgba(77, 77, 77, 0.493);
  border: 10px solid rgba(77, 77, 77, 0);
  border-radius: 5px;
  background-color: rgba(129, 122, 96, 0.219);
  padding: 1% 1%;
  margin: 1% 0;
  margin-left: 1%;
  overflow-y: scroll;
}

.responseNyt {
  margin: 5px;
  padding: 10px;
  border: 0.5px solid;
  border-color: lightgray;
  border-radius: 25px 25px;
}

.webUrl {
  font-size: medium;
}

.imageNewsSide {
  width: 50;
  height: auto;
}
