.span {
  font-size: large;
}

.span1 {
  color: #000000;
  font-size: 30px;
  font-weight: 40;
  line-height: 0.5;
 
}
.footer{
  background-color: rgb(255, 88, 88);
  padding-bottom: 1em;
}

.box {
  margin-left: 20px;
  width: 40%;
  height: 1100px;
  box-shadow: 10px 10px 15px rgba(77, 77, 77, 0.493);
  border: 10px solid rgba(77, 77, 77, 0);
  border-radius: 5px;
  background-color: rgba(230, 228, 228, 0.548);
  padding: 1% 1%;
  margin: 1% 2%;
  font-size: 12px;
  margin-left: 1%;
  overflow-y: scroll;
}

.boxi {
  width: 50%;
  height: 1100px;
  box-shadow: 10px 10px 15px rgba(77, 77, 77, 0.493);
  border: 10px solid rgba(77, 77, 77, 0);
  border-radius: 5px;
  background-color: rgba(230, 228, 228, 0.548);
  padding: 1% 1%;
  margin: 1% 0;
  margin-left: 1%;
  overflow-y: scroll;
}

.responseNyt {
  margin: 5px;
  padding: 10px;
  border: 0.5px solid;
  border-color: lightgray;
  border-radius: 25px 25px;
}

.webUrl {
  font-size: medium;
}

.imageNewsSide {
  width: 50;
  height: auto;
}


