.span {
  font-size: large;
}

.span1 {
  color: #ffffff;
  font-size: 30px;
  font-weight: 40;
  line-height: 0.5;
}
.footer {
  background-color: rgb(255, 88, 88);
  padding-bottom: 1em;
}

.ash {
  margin-left: 0.25rem;
  margin-right: 1.25rem;
  margin-top: -0.75rem;
}

.btn-side {
  background-color: #ffffff;
}

.box-left {
  margin-left: 20px;
  width: 40%;
  height: 1100px;
  box-shadow: 10px 10px 15px rgba(77, 77, 77, 0.493);
  border: 10px solid rgba(77, 77, 77, 0);
  border-radius: 5px;
  background-color: rgba(230, 228, 228, 0.548);
  padding: 1% 1%;
  margin: 1% 2%;
  font-size: 12px;
  margin-left: 1%;
  overflow-y: scroll;
}

.box-right {
  width: 50%;
  height: 1100px;
  box-shadow: 10px 10px 15px rgba(77, 77, 77, 0.493);
  border: 10px solid rgba(77, 77, 77, 0);
  border-radius: 5px;
  background-color: rgba(230, 228, 228, 0.548);
  padding: 1% 1%;
  margin: 1% 0;
  margin-left: 1%;
  overflow-y: scroll;
  font-size: 15px;
}

.responseNyt {
  margin: 5px;
  padding: 10px;
  border: 0.5px solid;
  border-color: lightgray;
  border-radius: 25px 25px;
}

.webUrl {
  font-size: medium;
}

.imageNewsSide {
  width: 50;
  height: auto;
}

.headline-container {
  margin-bottom: 20px;
}

.competition-container {
  margin-bottom: 20px;
}

.competition-container span {
  font-size: 20px;
}

.headline {
  font-size: 22px;
  line-height: 24px;
}

.team {
  font-size: 20px;
}

.game-photo {
  width: 350px;
  margin-bottom: 40px;
}

.box {
  background-color: #fff;
  border-radius: 6px;
  box-shadow: 0 0.5em 1em -0.125em rgba(10, 10, 10, 0.1),
    0 0 0 1px rgba(10, 10, 10, 0.02);
  color: #4a4a4a;
  display: block;
  padding: -0.75rem;
  height: 48%;
}

.content h1:not(:first-child) {
  margin-top: -1em;
}

.about-div {
  font-size: 15px;
  background-color: #b3b3b34b;
  color: black;
  margin: 7%;
}
.first-subj {
  font-size: x-large;
  font-weight: 300;

  color: black;
  margin: 3%;
}
.ptag {
  font-weight: 300;

  color: black;
  margin: 3%;
}

.imagePixabay {
  align-self: center;
}
